* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
}


.main-container {
    width: 100%;
    padding: 20px;
}

.recherche {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;

}
.search-container {
    width: 100%;
    background-color: #EBE6EB;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    box-shadow: 0 -2px 15px -5px rgba(0, 0, 0, 0.5), 0 7px 15px -5px rgba(0, 0, 0, 0.5);
    
}

.icone {
    margin-right: 10px;
}

.champ-recherche input {
    padding: 8px;
    border: none;
    background-color: #EBE6EB;
    font-weight: bold;
    text-align: center;
}

.Titre1 {
    font-size: 14px;
    padding-top: 30px;
    text-align: center;
}

.Titre1 h1 {
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.Titre1 h2 {
    font-weight: normal;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.button {
    background: #b42dc8;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    text-align: center;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

/* Media Queries pour les écrans plus grands */
@media (min-width: 600px) {
    .recherche {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo img {
        max-width: 150px;
    }

    .recherche {
        max-width: 600px;
    }

    .Titre1 {
        font-size: 16px;
    }

    .Titre1 h1, .Titre1 h2 {
        padding-left: 40px;
        padding-right: 40px;
    }
}


* {
    outline: 1px solid red; */
}