@charset "UTF-8";
/* Page index */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */
body {
  font-family: Arial, sans-serif;
}
body header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
body header .logo img {
  max-width: 200px;
  height: auto;
}

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  z-index: 9999;
  animation: fadeOut 2s forwards 2s;
}
.loader-wrapper .loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #9356DC;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.main-container {
  width: 100%;
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
  /* Boutton Explorer nos restaurants */
}
.main-container .Titre1 {
  font-size: 14px;
  padding-top: 30px;
}
.main-container .Titre1 h1 {
  font-weight: bold;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
}
.main-container .Titre1 h2 {
  font-weight: normal;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  font-size: 18px;
}
.main-container .button {
  border: 0;
  padding: 11px 20px;
  font-weight: 500;
  font-size: 18px;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  width: 300px;
  display: flex;
  justify-content: center;
}
.main-container .button:hover {
  filter: brightness(1.2);
}

.search-container {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  box-shadow: 0 -2px 15px -5px rgba(0, 0, 0, 0.5), 0 7px 15px -5px rgba(0, 0, 0, 0.5);
}
.search-container .recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}
.search-container .recherche .icone {
  margin-right: 1px;
}
.search-container .recherche .champ-recherche input {
  padding: 8px;
  border: none;
  background-color: #EAEAEA;
  font-weight: bold;
  text-align: center;
}

/* Fonctionnement */
.titre-fonction h1 {
  padding: 20px;
  font-weight: bold;
  font-size: 23px;
}

.fonction-section {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.fonction-section .fonction-section h3 {
  font-weight: bold;
}
.fonction-section .fonctions {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.fonction-section .fonctions .fonctions :hover {
  background-color: #DEEBFF;
  border-radius: 25px;
}
.fonction-section .fonctions .fonction {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
}
.fonction-section .fonctions .fonction span {
  font-size: 18px;
  margin-left: 50px;
}
.fonction-section .fonctions .fonction p {
  background: #9356DC;
  height: 24px;
  width: 25px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 11px;
  margin: -1px;
}
.fonction-section .fonctions .fonction i {
  margin-right: 5px;
  font-size: 18px;
  color: grey;
  position: absolute;
  margin-left: 10px;
  transition: color 0.3s ease;
}
.fonction-section .fonctions .fonction .icone-fonction {
  border: 1px solid #F6F6F6;
  background: white;
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
  display: flex;
  width: 100%;
  box-shadow: 0 7px 15px -5px rgba(0, 0, 0, 0.5);
  align-items: center;
  background: #f5f0f5;
}
.fonction-section .fonctions .fonction .icone-fonction:hover i {
  color: #9356DC;
}

/* Restaurant */
.titre-resto h2 {
  padding: 20px;
  font-size: 23px;
  font-weight: bold;
  background: #F6F6F6;
}

.main__card-resto {
  max-width: 100%;
  overflow: hidden;
  background-color: #F6F6F6;
}
.main__card-resto .cards h3 {
  font-weight: 400;
  position: relative;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.card {
  padding: 10px;
}
.card .list-resto {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.card .list-resto .image-container {
  position: relative;
}
.card .list-resto .image-container .etiquette {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  color: #008766;
  padding: 7px 12px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
}
.card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.card .text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.card .card-subtitle {
  font-size: 16px;
  color: #000000;
}
.card .coeur {
  font-size: 20px;
  color: #040404;
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 1px;
}

/* Animation concernant le coeur a coter du titre */
.heart-toggle {
  display: none;
}

.coeur {
  position: relative;
  cursor: pointer;
  font-size: 24px;
}
.coeur::before {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 21px;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease, background 0.7s ease;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
}
.heart-toggle:checked + .coeur::before {
  animation: fillHeart 1s ease forwards, pulseHeart 1s ease 1;
  background: linear-gradient(360deg, #ff88f3, #9100ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart-toggle:not(:checked) + .coeur::before {
  animation: pulseDisappear 1s ease forwards;
  background: linear-gradient(360deg, #ff88f3, #9100ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Animation de remplissage progressif */
@keyframes fillHeart {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* Animation de pulsation */
@keyframes pulseHeart {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
/* Animation de pulsation et disparition (réduite à 1 seconde) */
@keyframes pulseDisappear {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3); /* Pulsation */
  }
  100% {
    transform: scale(0); /* Rétrécissement jusqu'à disparition */
  }
}
/* Pied de page */
.footer {
  background: #2e2e2e;
  padding: 20px;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer span {
  color: white;
  text-decoration: none;
}
.footer .logo-img {
  font-size: 16px;
  color: white;
  font-family: "Shrikhand", cursive;
  padding: 2px;
}
.footer .footer-list {
  color: rgba(255, 255, 255, 0.861);
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.footer .footer-list li {
  list-style: none;
}/*# sourceMappingURL=style_index.css.map */