* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .logo img {
            max-width: 200px;
            height: auto;
        }
    }
}

.main-container {
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;
    flex-direction: column;

    .Titre1 {
        font-size: 14px;
        padding-top: 30px;

        h1 {
            font-weight: bold;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        h2 {
            font-weight: normal;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
        }
    }

    .button {
        border: 0;
        padding: 11px 20px;
        font-weight: 500;
        font-size: 18px;
        border-radius: 100px;
        color: white;
        background-color: #686868;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, .9), rgba(255, 121, 218, .9));
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .25);
    }
}


.search-container {
    width: 100%;
    background-color: #EBE6EB;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    box-shadow: 0 -2px 15px -5px rgba(0, 0, 0, 0.5), 0 7px 15px -5px rgba(0, 0, 0, 0.5);

    .recherche {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;

        .icone {
            margin-right: 1px;
        }

        .champ-recherche input {
            padding: 8px;
            border: none;
            background-color: #EBE6EB;
            font-weight: bold;
            text-align: center;
        }

    }

}

.titre-fonction h1 {
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.fonction-section {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;

    .fonction-section h3 {
        font-weight: bold;
    }

    .fonctions {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .fonctions :hover {
            background-color: #DEEBFF;
            border-radius: 25px;
        }

        .fonction {
            display: flex;
            align-items: center;
            width: 100%;
            padding-bottom: 30px;


            span {
                font-size: 14px;
                text-align: center;
            }

            p {
                background: #9356dc;
                height: 24px;
                width: 25px;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: absolute;
                left: 11px;
                margin: -1px;
            }

            i {
                margin-right: 5px;
                font-size: 18px;
                color: grey;
            }

            .icone-fonction {
                border: 1px solid #f2f2f2;
                background: white;
                padding: 20px;
                border-radius: 15px;
                font-weight: bold;
                display: flex;
                width: 100%;
                box-shadow: 0 7px 15px -5px rgba(0, 0, 0, 0.5);
            }
        }
    }

}

.Bcommande {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 32px 0;

    .commande {
        border: 0;
        padding: 16px 20px;
        font-weight: 500;
        font-size: 16px;
        border-radius: 100px;
        color: white;
        background-color: #686868;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        transition-duration: 0.25s;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

.titre-resto h3 {
    font-weight: bold;
    padding: 20px;
    background: #f5f0f5;
}

.card-main {
    display: flex;
    padding: 20px;
    flex-direction: column;
    background: #f5f0f5;

    .cards {
        display: grid;
        gap: 30px;
        align-items: center;
        height: 100%;

        .card {
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
            align-content: center;

            .card section {
                background-color: var(--main-bg-color);
                border-radius: 20px;
                padding: 30px;
            }

            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }

            .card-content {
                padding-top: 5px;
            }

            .card-title {
                font-size: 16px;
                margin-top: 0px;
                padding-left: 15px;
            }

            .card-subtitle {
                margin-bottom: 0px;
                padding-left: 15px;
            }
        }
    }

}

/* Page Menu */

.new-header {
    padding: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .25);
    position: relative;
    z-index: 1000;

    .header-fleche {
        position: absolute;
        left: 40px;
        height: 24px;
        width: 21px;
        top: 50%;
        display: flex;
        transform: translateY(-50%);
        font-size: 24px;
        color: #000;
    }

    img {
        align-items: center;
        width: 150px;


    }
}

img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
}

.main-menu {
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 0;
    background-color: #f6f6f6;
    position: relative;
    margin-top: -50px;

    .menu-titre {
        padding: 15px 10px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: Shrikhand, "cursive";

        .menu-icon {
            height: 30px;
            width: 30px;
            border: 0 solid transparent;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f6f6f6;

        }
    }

}



.menu-lists {
    max-width: 100%;
    overflow: hidden;
    padding: 0 16px;
    padding: 10px;
    background-color: #f6f6f6;

    .menu-title h3 {
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 5px;

        &::after {
            content: "";
            display: block;
            width: 10%;
            height: 3px;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: 0;
        }


    }


}


.footer {
    background: #2e2e2e;
    padding: 20px;



    .logo-img {
        font-size: 16px;
        color: white;
        font-family: Shrikhand, "cursive";
        padding: 1px;
    }


    .footer-list {
        color: rgba(255, 255, 255, 0.861);
        display: flex;
        flex-direction: column;
        font-weight: bold;
        
        li {
            list-style: none;
        }
    }
}

.lists {
    padding: 10px;

    .list-card {
        background-color: white;
        display: flex;
        border-radius: 15px;
        overflow: hidden;
        box-sizing: border-box;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .1);
        padding: 20px;
        margin: 10px;

        .list-content {
            width: 100%;
        }

        .list-title {
            justify-content: flex-start;


        }

        .list-subtitle {
            justify-content: flex-start;


        }

        .price {
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: auto;
        }

    }

}



/* Media Queries pour les écrans plus grands */
@media (min-width: 600px) {
    .recherche {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {



    .recherche {
        max-width: 600px;
    }

    .Titre1 {
        font-size: 16px;
    }

    .Titre1 h1,
    .Titre1 h2 {
        padding-left: 40px;
        padding-right: 40px;
    }
}


* {
    outline: 1px solid red;
}