* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        .logo img {
            max-width: 200px;
            height: auto;
        }
    }
}

.main-container {
    width: 100%;
    padding: 20px;
    display: flex;
    text-align: center;

    .Titre1 {
        font-size: 14px;
        padding-top: 30px;

        h1 {
            font-weight: bold;
            padding-bottom: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        h2 {
            font-weight: normal;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 30px;
        }
    }

    .button {
        background: #b42dc8;
        color: white;
        border-radius: 15px;
        padding: 10px 20px;
        text-align: center;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }
}


.search-container {
    width: 100%;
    background-color: #EBE6EB;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    box-shadow: 0 -2px 15px -5px rgba(0, 0, 0, 0.5), 0 7px 15px -5px rgba(0, 0, 0, 0.5);

    .recherche {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 600px;

        .icone {
            margin-right: 1px;
        }

        .champ-recherche input {
            padding: 8px;
            border: none;
            background-color: #EBE6EB;
            font-weight: bold;
            text-align: center;
        }

    }

}

.fonction-section {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    .fonction-section h3 {
        font-weight: bold;
    }


    .fonctions {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;

        .fonctions :hover {
            background-color: #DEEBFF;
            border-radius: 25px;
        }

        .fonction {
            display: flex;
            align-items: center;
            margin-right: 10px;
            width: auto;

            .fonction img {
                width: 30px;
                margin-right: 10px;
            }

            .fonction span {
                font-size: 14px;
            }

            .fonction-section p {
                margin-right: 10px;
                font-weight: bold;
            }

            .fonction .icone-fonction i {
                margin-right: 5px;
                font-size: 18px;
            }

            .icone-fonction {
                border: 3px solid #f2f2f2;
                background: white;
                padding: 10px;
                border-radius: 25px;
                font-weight: bold;
                display: flex;
                align-items: center;
                width: 100%;
            }
        }
    }

}






/* Media Queries pour les écrans plus grands */
@media (min-width: 600px) {
    .recherche {
        max-width: 500px;
    }
}

@media (min-width: 1024px) {


    .logo img {
        max-width: 150px;
    }

    .recherche {
        max-width: 600px;
    }

    .Titre1 {
        font-size: 16px;
    }

    .Titre1 h1,
    .Titre1 h2 {
        padding-left: 40px;
        padding-right: 40px;
    }
}


* {
    outline: 1px solid red;
}